body {
    width: 2500px;
    margin: auto;
}

h1,
#changes {
    margin-left: 50px;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    height: 39px;
}

ul#data {
    padding: 0 !important;
}

input {
    width: 20px;
    height: 39px;
    text-align: center;
}

input[readonly="true"] {
    color: gray;
}

#clean {
    width: 100px;
    height: auto;
}